@use "./general" as*;
@use "./MediaQ" as*;

.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5 1fr 0.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
    gap: 0px;
    background-image: url(../images/pexels-eberhardgross-2310713.jpg);
    justify-items: center;
    align-items: center;
    background-size: cover;
    @include negrita;
    margin-top: 65px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    column-gap: 3px;

    img {
        border-radius: $contorno;
        height: 140px;
        margin-top: 10px;
        align-self: center;
        column-gap: 10px;
        row-gap: 10px;
    }
}

#yo {
    width: 80%;
    height: 80%;
    border-radius: 55px 2px 51px 0px;
}

.div1 {
    grid-row: span 1 / span 2;
}

.div2 {
    grid-column: span 2 / span 3;
    grid-row: span 1 / span 3;
    justify-content: center;
    @include negrita;
    
    
    p {
        width: auto;
        text-align: center;

    }
}



.div3 {
    grid-column: span 3 / span 3;
    grid-row-start: 2;
    text-decoration: underline;
    color: $negro;
    margin-top: 50px;
}



.text-pop-up-top {
    -webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 20% 20%;
        transform-origin: 20% 20%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -webkit-transform-origin: 20% 20%;
        transform-origin: 20% 20%;
        text-shadow: 0 1px 0 #56667a, 0 2px 0 #362769, 0 3px 0 #3a227c, 0 4px 0 #3364a3, 0 5px 0 #297abd, 0 6px 0 #3d879e, 0 7px 0 #268ead, 0 8px 0 #118bc4, 0 9px 0 #13a5aa, 0 50px 30px rgba(27, 177, 214, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 20% 20%;
        transform-origin: 20% 20%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -webkit-transform-origin: 20% 20%;
        transform-origin: 20% 20%;
        text-shadow: 0 1px 0 #56667a, 0 2px 0 #362769, 0 3px 0 #3a227c, 0 4px 0 #3364a3, 0 5px 0 #297abd, 0 6px 0 #3d879e, 0 7px 0 #268ead, 0 8px 0 #118bc4, 0 9px 0 #13a5aa, 0 50px 30px rgba(27, 177, 214, 0.3);
    }
}

.div4 {
    grid-column: span 3 / span 3;
    grid-row-start: 3;
    @include negrita;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.div5 {
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    text-decoration: underline;
    font-weight: bold;
    color: $negro;
}

.div6 {
    grid-row-start: 4;
    margin-top: 40px;
}

.div7 {
    grid-row-start: 4;
    @include negrita;
    margin-top: 40px;
}

.div8 {
    grid-column-start: 2;
    grid-row-start: 5;
    margin-top: 40px;
}

.div9 {
    grid-column-start: 3;
    grid-row-start: 5;
    @include negrita;
    margin-top: 40px;
}

.div10 {
    grid-column: span 3 / span 3;
    grid-row-start: 6;
    text-decoration: underline;
    font-weight: bold;
    color: $negro;
    margin-top: 80px;
}

.div11,
.div12,
.div13,
.div14,
.div15,
.div16 {
    grid-row-start: 7;
    @include negrita;
    width: 220px;
}

.imgLaboral {
    max-width: 100%;
}

.div14,
.div15,
.div16 {
    grid-row-start: 8;
}

.div17 {
    grid-column: span 3 / span 3;
    grid-row-start: 9;
    text-decoration: underline;
    font-weight: bold;
    color: $negro;
    margin-top: 30px;
}

.div18 {
    grid-column: span 3 / span 3;
    grid-row-start: 10;
    margin: 0px 5px 0px 5px;
    @include negrita;
    margin-top: 15px;
}

.contenedores {
    display: grid;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;

}