.parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5 1fr 0.5fr 1fr 0.5fr 0.5fr 1fr 0.5fr 1fr;
    gap: 0px;
    background-image: url(../images/pexels-eberhardgross-2310713.jpg);
    justify-items: center;
    align-items: center;
    background-size: cover;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 65px;
    padding-top: 50px;
    padding-left: 50px;
 .div1 {
    grid-row: span 1 / span 2;
    img {
    border-radius: 94px;
    height: 140px;
    margin-top: 10px;
    align-self: center;
    column-gap: 10px;
    row-gap: 10px;
    #yo {
    width: 80%;
    height: 80%;
    border-radius: 55px 2px 51px 0px;
}
}
}
}