/*index*/
//index

.presentacion {
    background-image: url(../images/pexels-eberhardgross-2088149.jpg);
    background-size: cover;
    color: rgb(2, 1, 0);
    .col-lg-4 {
    background-size: auto;
    color: rgb(2, 1, 0);
   }
}